<h1>Welcome to Scrabble Word Calculator!</h1>
<form action="/points">
  <div class="form-group">
    <label for="word">What word do you want to get the score for?</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
